header {
  background-image: url('../../img/hero-image-github-profile.png');
  min-height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}
.userSummary {
  padding: 20px;
  padding-left: 30px;
  display: grid;
  gap: 10px;
  place-content: center;
  gap: 10px;
  justify-content: flex-start;
}
.UpperBody {
  display: flex;
  flex-wrap: wrap;
}
.userInfo {
  padding: 20px;
  padding-left: 30px;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .userSummary {
    display: flex;
  }
  .repositoriesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    gap: 20px;
    padding: 20px;
    padding-left: 30px;
  }
}