header {
  background-image: url('../../img/hero-image-github-profile.png');
  min-height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}
.userSummary {
  padding: 20px;
  display: flex;
  gap: 10px;
  place-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.UpperBody {
  display: flex;
  flex-wrap: wrap;
}